<html>
    <head>
        <!--<link rel="stylesheet" href="style.css">-->

        <title>OCTO Innovation and Technical Advisory</title>
    </head>
    <body>
        <div>
            <table border="1px solid black" style="width:99%;height:80%">
                <tr id="menuRow">
                    <td colspan="2" style="background-color: #444">
                        <div style="text-align:center;margin:auto">
                            <font id="topic" size="10" style="color: #fff;"></font>
                            <br/>
                            <br/>
                        </div>
                    </td>
                </tr>
                <tr id="bizRow">
                    <td style="background-color: #2596be;">
                        <h1 style="color:#fff;font-size:20px;">Business Strategy</h1> 
                    </td>
                    <td id="bizRowTable" style="vertical-align: middle;">

                    </td>
                </tr>

                <tr id="itRow">
                    <td style="background-color:#9925be">
                        <h1 style="color:#fff;font-size:20px;">IT Strategy</h1>
                    </td>
                    <td id="itRowTable">
                        
                    </td>
                </tr>
                <tr id="capRow">
                    <td style="background-color:#be4d25">
                        <h1 style="color:#fff;font-size:20px;">Capabilities</h1>
                    </td>
                    <td id="capRowTable">
                        
                    </td>
                </tr>
                <tr id="enRow">
                    <td style="background-color:#49be25">
                        <h1 style="color:#fff;font-size:20px;">Enablers</h1>
                    </td>
                    <td id="enRowTable">
                        
                    </td>
                </tr>
            </table>
        </div>

        <script type="module" src="/js/empexp.js" defer ></script>
        
    </body>
</html>