<!DOCTYPE html>
<html>
	<head>
		<title>Innovation Advisory Strategic Frameworks Home Page</title>
		<link rel="stylesheet" type="text/css" href="/css/index.css" />
	</head>
	
	<body>
		<div class="bannerDiv" id="bannerDiv">
			<img src="/images/download.png"/>
			<p class="bannerLineDivider">|</p>
			<label class="bannerText">Innovation Advisory's Strategic Technical Frameworks</label>
		</div>

		<table class="tblFrameworks" id="tblFrameworks" style="width:55%">
			<tr style="background-color: #BBE8F4;">
				<td class="tableCellStyle">Domain</td>
				<td class="tableCellStyle" colspan="2">Action</td>
			</tr>
		</table>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
		<script type='module' src='/js/index.js'></script>
	</body>	
</html>